@charset "UTF-8";
@font-face {
    font-family: 'Anaheim';
    src: url("../_fonts/Anaheim-Regular.ttf");
}
@font-face {
    font-family: 'Dangrek';
    src: url("../_fonts/Dangrek-Regular.ttf");
}

body{
    background-color: rgba(0, 0, 0, 0.76);
}
div#interface{
    width: 900px;
    background-color:  rgb(58, 58, 58);
    text-align: center;
    margin: 20px auto 10px auto;
    border: 1px black solid;
    box-shadow: 0px 0px 20px rgb(0, 250, 62);
    transition: box-shadow 0.3s;
}

/*cabecalho*/
header#cabecalho h1{
    
    font-family: 'Anaheim',sans-serif;
    font-size: 23pt;
    transition: 0.5s;
    padding: 10px;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}
header#cabecalho h2{
    font-family: 'Anaheim',sans-serif;
    font-size: 18pt;
    padding-left: 10px;
    border-bottom: 1px rgb(255, 255, 255) solid;
    margin: auto;
    transition: 0.5s;
    color: #ffffff;
    text-align: center;

}



div#logo{
    background: url("../_icons/logo.png");
    background-repeat: no-repeat;
    height: 53px;
    width: 403px;
    margin: auto;
    border-bottom: 1px rgb(255, 255, 255) solid;
    transition: 0.5s;
}

/* menu */
nav#menu{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    height: 10px;
}
nav#menu ul{
    font-family: 'Dangrek', sans-serif;
    list-style: none;
    text-transform: uppercase;
}
nav#menu li{
    background-color: rgb(0, 0, 0);
    float: left;
    margin: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid rgb(44, 255, 114);
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
    transition: 0.5s;
}

nav#menu a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
nav#menu a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none
}
nav#menu li:hover{
    box-shadow: 1px 1px 1px 0.5px;
    border: 1px solid black;
    border-radius: 0px;
    background-color: rgb(44, 255, 114);
    width: 150px;
}

/*corpo */
section#corpo {
    display: block;
    padding: 60px;
    margin: auto;
}

/* artigo */

article#principal h2{
    background-color: rgb(44, 255, 114);
    font-family: 'Anaheim', sans-serif;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-size: 20pt;
    border-radius: 12px;
    padding: 3px;
    text-indent: 10px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    transition: background-color 0.3s;
}

article#principal p{
    padding-top: 3px;
    color: white;
    border-bottom: 1px rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 12pt;
    text-indent: 10px;
}

/* fotos */ 

ul#fotos{
    list-style: none;
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

ul#fotos li{
    float: left;
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(44, 255, 114);
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    -webkit-transition: all 0.4s ease-in-out;

}

ul#fotos li:hover{
    -webkit-transform: scale(1.5);
}

ul#fotos li#foto01{
    background: url("../_galeria/prosperidade.jpeg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#fotos li#foto02{
    background: url("../_galeria/lotus.jpeg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#fotos li#foto03{
    background: url("../_galeria/olhogrego.jpeg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#fotos li span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,0.3);
    font-size: 12pt;
    line-height: 320px;
    padding: 8px;
    transition: opacity 0.4s;

}
ul#fotos li span.preco{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,0.3);
    font-size: 12pt;
    transition: opacity 0.4s;

}
ul#fotos li:hover span{
    opacity: 1;
}
ul#fotos li:hover span.preco{
    opacity: 1;
}
/*rodape*/

footer#rodape {
    clear:both;
    border-top: 1px solid rgb(255, 255, 255);
}

footer#rodape p{
    text-align: center;
    color: white;
}
footer#rodape a{
    font-size: 16pt;
    text-decoration: none;
    color: rgb(0, 241, 32);
    transition: 0.5s;
}
footer#rodape a:hover{
    font-size: 18pt;
}